{% extends 'base.html.twig' %}

{% block body %}

  <h1>создание нового поста</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

      {{ form_start(form) }}
          {{ form_widget(form) }}
          <!--input type="submit" value="Create" /-->
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">создать</button> <a href="{{ path('post_index') }}"><button class="btn btn-danger">отмена</button></a>
              </div>
          </div>
      {{ form_end(form) }}

    <!--ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul-->


{% endblock %}
